.btn-primary{background-color:#3a6de1!important;border-color:#3a6de1!important}.btn-primary:hover{background-color:#2945b5!important;border-color:#2945b5!important}.tp--header .logo a img{max-width:100px;vertical-align:inherit;padding-top:3px;padding-left:0}.tp--header-shrink.shrink .logo a img{max-width:150px}.tp--icon-gradient{color:#3a6de1;background:-webkit-gradient(linear,left top,left bottom,from(#3572f4),to(#2945b5));-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;text-fill-color:transparent;display:initial}.label-primary{background-color:#3a6de1!important}.tp--preloader .tp--spinner .loader-inner div{background-color:#2945b5}.tp--gradient-20.tp--section.tp--diagonal:before{background:linear-gradient(to left,#3572f4,#2945b5)!important}.div-featured{-ms-transform:rotate(-9deg);-webkit-transform:rotate(-9deg);transform:rotate(-9deg)}.tp--section .page-header i{background:linear-gradient(to left,#3572f4,#2945b5)!important}.display-pic{filter:gray;-webkit-filter:grayscale(1);filter:grayscale(1)}.tp--section-light{background-color:#fff!important}
.float-left {margin-left: 25px; margin-top: 5px; padding-top: 5px;}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    padding-top: 10px;
}

.navbar {
    margin-bottom: 0;
}
.navbar-brand { padding-top: 0px; top: 5px}
.navbar-light .navbar-nav .nav-link { color: white}
.navbar-light .navbar-nav .nav-link.active { color: white}

.nav-pills .active  a:hover { background-color:#2945b5!important;border-color:#2945b5!important}
.jumbotron {
    background: none;
    min-height: 100vh;
    margin-bottom: 0;
}