/* change to code labs light blue color */
.btn-primary {
    background-color: #3a6de1 !important;
    border-color: #3a6de1 !important;
}
/* code labs darker blue when hovering */
.btn-primary:hover {
    background-color: #2945b5 !important;
    border-color: #2945b5 !important;
}

/* move logo to the left ankcekvcvdntvbc
 * d make it larger */
.tp--header .logo a img {     
    max-width: 100px;
    vertical-align: inherit;
    padding-top: 10px;
    padding-left: 0px;
}

/* make the straight mini logo larger */
.tp--header-shrink.shrink .logo a img {
    max-width: 150px;

}

/* gradient color in boxes */
.tp--icon-gradient {
  color: #3a6de1;
  background: -webkit-gradient(linear, left top, left bottom, from(#3572f4), to(#2945b5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: initial;
}

/* label primary - were hiring */
.label-primary {
  background-color: #3a6de1 !important;
}

/* pre loader spinners */
.tp--preloader .tp--spinner .loader-inner div {
    background-color: #2945b5;
}

/* gradient block front page bottom */
.tp--gradient-20.tp--section.tp--diagonal:before {
    background: linear-gradient(to left, #3572f4, #2945b5) !important;
 }

/* rotating feature text on front page */
.div-featured {
    	/* Rotate div */
    	-ms-transform: rotate(-9deg); /* IE 9 */
    	-webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
    	transform: rotate(-9deg);

}

/* gradient for icon on what we do on front page */
.tp--section .page-header i {
    background: linear-gradient(to left, #3572f4, #2945b5) !important;
}

/* grayscale avatar images */
.display-pic {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* make join us bottom part white instead of light grey */
.tp--section-light {
    background-color: #fff !important;
}

/* debug all divs 
div {
    outline: 1px solid red;
}
*/

